@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(255, 255, 255);
}
.container{
  margin-top: 35px;
  width: 500px;
}

.box {
  align-items: center;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 150px;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: rgb(96, 207, 231)
  }
}
